{
    "extends": "walmart/configurations/es6-react",
    "env": {
        "browser": true
    },
    "rules": {
      "filenames/match-regex": 0,
      "filenames/match-exported": 0,
      "filenames/no-index": 0
    },
    "plugins": ["react"],
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
  }
}
