{
    "extends": "walmart/configurations/es6-react",
    "env": {
        "browser": true
    },
    "rules": {
      "filenames/match-regex": 0,
      "filenames/match-exported": 0,
      "filenames/no-index": 0,
      "react/require-extension": "off",
      "react/wrap-multilines": "off",
      "react/no-comment-textnodes": "off"
    },
    "plugins": ["react"],
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
  },
  "globals": {
      "google": false
  }
}
