<!DOCTYPE html>
<html>
<head>
  <title>transpobuddy</title>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=&sensor=true"></script>

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>

  
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
</head>
<body>
<%= javascript_include_tag "application" %>
<%= yield %>

<div id="app"></div>

</body>
</html>
